<div class="container color-dark">
  <div class="col">
    <p>HEADER</p>
  </div>
</div>

<div class="container color-light">
  <div class="row">
    <div class="col-md-6" *ngIf="selectedHeaderId">
      <form>
        <input type="text" class="txt" placeholder="FULL NAME" [(ngModel)]="myHeader.name" name="name"><br>
        <input type="text" class="txt" placeholder="LIFE GOAL" [(ngModel)]="myHeader.goalLife" name="goalLife"><br>
        <input type="text" class="txt" placeholder="PHOTO URL" [(ngModel)]="myHeader.photoUrl" name="photoUrl"><br>
        <input type="text" class="txt" placeholder="EMAIL" [(ngModel)]="myHeader.email" name="email"><br>
        <input type="text" class="txt" placeholder="PHONE NUMBER" [(ngModel)]="myHeader.phoneNumber" name="phoneNumber"><br>
        <input type="text" class="txt" placeholder="LOCATION" [(ngModel)]="myHeader.location" name="location"><br>
        <input type="text" class="txt" placeholder="SOCIAL NETWORK" [(ngModel)]="myHeader.socialNetwork" name="socialNetwork"><br>

        <input type="button" class="btn" [value]="btntxt" (click)="onSubmit()">
      </form>
    </div>
    
    <br>
    <div class="col-md-6" *ngIf="dataLoaded && Header.length > 0">
      <div *ngFor="let item of Header" class="life-container" style="margin-bottom: 1rem;" (click)="editarHeader(item)" style="margin-right: 10px;">
        <p><strong>{{item.name}}</strong> - {{item.goalLife}}</p>
      </div>
    </div>
  </div>
</div>
