<div class="container color-dark">
  <div class="col">
    <p>WORK EXPERIENCE</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form (ngSubmit)="AgregarJob()" #workExpForm="ngForm">
      <input type="text" class="txt" name="startDate" placeholder="START DATE (mm/yyyy)" [(ngModel)]="myWorkExperience.startDate"> <br>
      <input type="text" class="txt" name="endDate" placeholder="END DATE (mm/yyyy)" [(ngModel)]="myWorkExperience.endDate"> <br>
      <input type="text" class="txt" name="location" placeholder="LOCATION (city, country)" [(ngModel)]="myWorkExperience.location"> <br>
      <input type="text" class="txt" name="position" placeholder="POSITION" [(ngModel)]="myWorkExperience.position"> <br>
      <input type="text" class="txt" name="company" placeholder="COMPANY" [(ngModel)]="myWorkExperience.company"> <br>
      <input type="text" class="txt" name="accomplishments" placeholder="ACCOMPLISHMENTS" [(ngModel)]="myWorkExperience.accomplishments"> <br>
      <input type="button" class="btn" value="{{ btntxt }}" (click)="AgregarJob()">
    </form>
  </div>
  
  <br>
  <div class="col">
    <div class="life-container" *ngFor="let job of workExperience">
      <p>{{ job.company }} - {{ job.position }}</p>
      <br>
      <input type="button" class="btn" value="ELIMINAR" (click)="deleteJob(job.id)" style="margin-right: 10px;">
      <input type="button" class="btn" value="EDITAR" (click)="EditarJob(job)">
    </div>
  </div>
</div>
