<div class="container color-dark">
  <div class="col">
    <p>work-experience items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="startDate" placeholder="start date (mm/yyyy)" [(ngModel)]="myJob.startDate"><br>
      <input type="text" class="txt" name="endDate" placeholder="end date (mm/yyyy)" [(ngModel)]="myJob.endDate"><br>
      <input type="text" class="txt" name="location" placeholder="location (city, country)" [(ngModel)]="myJob.location"><br>
      <input type="text" class="txt" name="position" placeholder="position" [(ngModel)]="myJob.position"><br>
      <input type="text" class="txt" name="company" placeholder="company" [(ngModel)]="myJob.company"><br>
      <input type="text" class="txt" name="accomplishments" placeholder="accomplishments" [(ngModel)]="myJob.accomplishments"><br>
      <input type="submit" class="btn" value="{{ btnText }}" (click)="addWorkExperience()">
    </form>
  </div>

  <div class="col">
    <div class="life-container" *ngFor="let job of workExperienceData">
      <input *ngIf="job.id" type="submit" class="txt" value="delete" (click)="deleteJob(job.id)">
      {{job.company}} - {{job.position}}
    </div>
  </div>
</div>
