<h3> <b> ADMIN CV APP</b></h3>
<br>
<br>
<nav>
  <ul>
    <li>
      <a routerLink="/header"> HEADER </a>
    </li>
    <li>
      <a routerLink="/workexperience"> WORK EXPERIENCE </a>
    </li>
    <li>
      <a routerLink="/education"> EDUACTION </a>
    </li>
    <li>
      <a routerLink="/certificates"> CERTIFICATES </a>
    </li>
    <li>
      <a routerLink="/skills"> SKILLS </a>
    </li>
    <li>
      <a routerLink="/languages"> LANGUAGES </a>
    </li>
    <li>
      <a routerLink="/interests"> INTERESTS </a>
    </li>
  </ul>
</nav>
<br>
<br>

<router-outlet></router-outlet>
