<div class="container color-dark">
  <div class="col">
    <p>INTERESTS</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <textarea rows="5" cols="40" class="txt" placeholder="DESCRIBE TU INTERES" [(ngModel)]="myInterest.interes" name="interes"></textarea>
      <br>
      <input type="button" class="btn" [value]="btntxt" (click)="agregarInterest()">
    </form>
  </div>

  <br>
  <div class="col">
    <p class="life-container" *ngFor="let inter of interests">
      <br>
      {{ inter.interes }}
      <br>
      <br>
      <input type="button" class="btn" value="EDITAR" (click)="editarInterest(inter)" style="margin-right: 10px;">
      <input type="button" class="btn" value="ELIMINAR" (click)="deleteInterest(inter.id)">
    </p>
  </div>
</div>
  