<div class="container color-dark">
  <div class="col">
    <p>LANGUAGES</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" placeholder="IDIOMA" [(ngModel)]="myLanguage.idiomas" name="idiomas">
      <input type="text" class="txt" placeholder="NIVEL" [(ngModel)]="myLanguage.nivel" name="nivel">
      <input type="button" class="btn" [value]="btntxt" (click)="agregarLanguage()">
    </form>
  </div>

  <br>
  <div class="col">
    <p class="life-container" *ngFor="let lang of languages">
      <br>
      <strong>IDIOMA:</strong> {{ lang.idiomas }} <br>
      <strong>NIVEL:</strong> {{ lang.nivel }}
      <br>
      <br>
      <input type="button" class="btn" value="EDITAR" (click)="editarLanguage(lang)" style="margin-right: 10px;">
      <input type="button" class="btn" value="ELIMINAR" (click)="deleteLanguage(lang.id)">
    </p>
  </div>
</div>