<div class="container color-dark">
  <div class="col">
    <p>EDUCATION</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="School" placeholder="SCHOOL" [(ngModel)]="myEducation.school"> <br>
      <input type="text" class="txt" name="Training" placeholder="TRAINING" [(ngModel)]="myEducation.training"> <br>
      <input type="text" class="txt" name="licenses" placeholder="LICENSES" [(ngModel)]="myEducation.licenses"> <br>
      <input type="button" class="btn" value="{{ btntxt }}" (click)="AgregarEdu()">
    </form>
  </div>

  <br>
  <div class="col">
    <p class="life-container" *ngFor="let edu of education">
      {{ edu.school }} - {{ edu.training }} - {{ edu.licenses }}
      <br>
      <br>
      <input type="button" class="btn" value="BORRAR" (click)="deleteEducation(edu.id)" style="margin-right: 10px;">
      <input type="button" class="btn" value="EDITAR" (click)="EditarEdu(edu)">
    </p>
  </div>
</div>
